body
	background #E6E6E6
	#barra
		background #086A87
		padding-top 70px
	p
		display block
		margin-left 410px
		margin-top -60px
		color white
		font-family verdana
		font-size 45px
		text-shadow 0.1em 0.1em 0.1em #333
	table
		background #086A87
		border .5px solid #086A87
		width 650px	
		margin-left 300px
		margin-top 45px
		box-shadow 10px 10px 5px #888888
		td
			padding-top 80px
			background white
			margin-left 230px		
	#bot1
		box-shadow 10px 10px 5px #888888
		color black
		font-style bold
		font-size 25px
		padding-left 90px
		padding-right 80px
		margin-left 350px
		display block
		margin-top 30px
		text-decoration none
		width 80px
		padding-top 10px
		padding-bottom 10px	
		background #819FF7
		transition all 0.5s ease
		&:hover
			background #FA8258
	#bot3
		box-shadow 10px 10px 5px #888888
		color black
		font-style bold
		font-size 25px
		padding-left 80px
		padding-right 80 px
		margin-top -48px
		margin-left 660px
		display block
		text-decoration none
		width 80px
		padding-top 10px
		padding-bottom 10px	
		background #819FF7	
		border-radius: 2px;
		transition all 0.5s ease
		&:hover
			background #FA8258
									
		
						
	